// Place all the styles related to the api/games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.games-index {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 70%;
  padding-bottom: 25%;
  overflow: hidden;
}

.game-index-img {
  position: absolute;
  display: flex;
  float: left;
  width:  200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  overflow: scroll;
  justify-content: space-between;
  cursor: pointer;
}
