// Place all the styles related to the api/gameshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gameshelf-box {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 12px;
  // border: 1px solid #b9deee;
  margin-left: 15px;
  width: 17%;
}

.gameshelf-box-header {
  display: flex;
  justify-content: center;
  background: #00afcc;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.gameshelf-game-details {
  width: 80%;
  margin-left: 400px;

  img {
    width: 20%;
  }
}

.gameshelf-name {
  margin-top: 100px;
}

.gameshelf-titles {
  display: flex;
  justify-content: space-between;
  background: #00afcc;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 12px;
  margin-right: -20px;
}

.gameshelf-game-details {
  display: flex;
  margin-left: 309px;
}

.gameshelf-game-title {
  margin-top: -165px;
  width: 25%;
}

.gameshelf-game-year {
  margin-left: 278px;
  margin-top: -165px;
  width: 25%;
}

.gameshelf-game-platform {
  width: 25%;
  margin-left: 220px;
  margin-top: -165px;
}

.gameshelf-game-image {
  width: 250px;
}

.pure-table {
  margin-top: 100px;
  margin-left: 400px;
  width: 67%;

  img {
    width: 250px;
  }
}

.gameshelf-game-img {
  width: 10px;
  padding-bottom: 15px;
}
