// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-page {
  background-color: #00afcc;
  background-image: url('https://s3.us-east-2.amazonaws.com/gameshelf/landing_background.png');
  background-position: center center;
  background-repeat:  no-repeat;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-logo-img {
  width: 280px;
  padding: 22px;
  margin-right: 360px;
}

.logo-and-form {
  display: flex;
  justify-content: center;
  background: #00afcc;
  border-bottom: 2px solid #472614;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.login-form {
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 5px;
}

.login-input {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  width: 120px;
  padding: 5px;
  margin: 0 2px 0 2px;
  font-size: 13px;
}

input:focus {
    outline: none !important;
    border:1px solid #99572b;
    box-shadow: 0 0 5px #99572b;
  }

.login-btn {
  border-radius: 3px;
  background-color: #382110;
  border: 1px solid #382110;
  color: white;
  padding: 8px 12px;
  margin: 0 2px 0 2px;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    background-color: #472614;
  }
}

.signup-form-box {
  margin-top: 285px;
}

.signup-header {
  color: #382110;
  font-size: 20px;
  font-weight: 800;
}

.signup-form {
  font-size: 18px;
  margin: 20px 210px;
  width: 25%;
  float: right;
}

.signup-input {
  width: 280px;
  padding: 5px 15px;
  font-size: 18px;
  background-color: white;
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  margin-bottom: 4px;

  &:focus {
    border: #928162 1px solid;
  }
}

.signup-btn {
  width: 85px;
  padding: 8px;
  border: none;
  font-size: 18px;
  background-color: #fdd05f;
  border-radius: 4px;
  text-align: center;
  line-height: 22px;
  margin-top: -7px;
  cursor: pointer;

  &:hover {
    background-color: #F5DA69;
  }
}

.login-errors-list {
  list-style: none;
  margin: 11px 0 10px -38px;
}

.login-errors {
  background: #FF4545;
  color: #FFF3F3;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.signup-errors-list {
  list-style: none;
  width: 320px;
  margin: 0 -40px 15px;
}

.signup-errors {
  background: #FF4545;
  color: #FFF3F3;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}
