// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-home {
  // background-image: url('../../images/banner_background.jpg')
}

.header {
  border-bottom: 1px solid dimgray;
  margin: 0;
}

body {
  // background-image: url('../landing_background.png');
  // background-position: center center;
	// background-repeat:  no-repeat;
	// background-attachment: fixed;
	// background-size:  cover;
  // font-family: 'Fira Sans', sans-serif;
}

.landing-page {
  background-color: #00afcc;
  background-image: url('../landing_background.png');
  background-position: center center;
  background-repeat:  no-repeat;
  // background-attachment: fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
}

.logo-and-form {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 5px;
}

.login-input {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  width: 120px;
  padding: 5px;
  margin: 0 2px 0 2px;
  font-size: 13px;
}

.login-btn {
  border-radius: 3px;
  background-color: #382110;
  border: 1px solid #382110;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 2px 0 2px;
  font-size: 13px;

  &:hover {
    background-color: #472614;
  }
}

.signup-form {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  margin-right: 370px;
  margin-top: 200px;
}

.signup-input {
  display: block;
  width: 270px;
  padding: 5px 5px;
  margin-top: 5px;
  font-size: 18px;
  background-color: white;
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
}

.signup-btn {
  width: 85px;
  padding: 8px;
  border: none;
  font-size: 18px;
  background-color: #fdd05f;
  border-radius: 4px;
  text-align: center;
  line-height: 22px;
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    background-color: #F5DA69;
  }
}
