nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #00afcc;
  z-index: 1;
  padding: 15px 0 0 0;
  color: white;
  box-shadow: 0 5px 16px -3px grey;
}

.logo-img {
  width: 180px;
  margin-top: 3px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  .nav-welcome {
    font-weight: 800;
    letter-spacing: 1px;
  }

  .nav-link, .nav-welcome {
    padding: 10px;
  }

  .nav-link {
    a {
      color: black;
      padding: 10px;
    }

    a:hover {
      color: white;
      background: black;
      border-radius: 5px;
      padding: 10px;
      transition: 0s;
    }
  }

  .nav-welcome, .nav-logout {
    align-content: flex-end;
  }

  .logout-btn {
    border-radius: 3px;
    background-color: #382110;
    border: 1px solid #382110;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 2px 0 2px;
    font-size: 13px;
    cursor: pointer;

    &:hover {
      background-color: #472614;
    }
  }
}
